<form #form="ngForm" (ngSubmit)="onSubmit(form)">

    <label for="name">Name</label>
    <input name="name" type="text" [ngModel]="name">

    <label for="email">E-mail</label>
    <input name="email" type="text" [ngModel]="email">

    <label for="policyId">Policy ID</label>
    <input name="policyId" type="text" [ngModel]="policyId">

    <label for="type">Claim Type</label>
    <select name="type" [ngModel]="type">
        <option value="1">Lost Baggage</option>
        <option value="2">Theft</option>
        <option value="3">Missed Flight</option>
        <option value="4">Illness</option>
        <option value="5">Accident</option>
    </select>

    <label for="amount">Amount</label>
    <input name="amount" type="text" [ngModel]="amount">

    <label for="dateOccurred">Date Occurred</label>
    <input name="dateOccurred" type="date" [ngModel]="dateOccurred">

    <button type="submit">Submit</button>

</form>
